<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Amazona</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">Amazona</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <div class="row center">
            <div class="card">
                <a href="product.html">
                    <!-- image size 680 * 830 px -->
                    <img class="medium" src="./images/p1.jpeg" alt="product"/>
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim Shirts</h2>
                    </a>
                    <div class="rating">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star-half"></i>
                        </span>
                    </div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html">
                    <!-- image size 680 * 830 px -->
                    <img class="medium" src="./images/p2.jpeg" alt="product"/>
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim Shirts</h2>
                    </a>
                    <div class="rating">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html">
                    <!-- image size 680 * 830 px -->
                    <img class="medium" src="./images/p3.jpeg" alt="product"/>
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim Shirts</h2>
                    </a>
                    <div class="rating">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html">
                    <!-- image size 680 * 830 px -->
                    <img class="medium" src="./images/p4.jpeg" alt="product"/>
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim Shirts</h2>
                    </a>
                    <div class="rating">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html">
                    <!-- image size 680 * 830 px -->
                    <img class="medium" src="./images/p5.jpeg" alt="product"/>
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim Shirts</h2>
                    </a>
                    <div class="rating">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="product.html">
                    <!-- image size 680 * 830 px -->
                    <img class="medium" src="./images/p6.jpeg" alt="product"/>
                </a>
                <div class="card-body">
                    <a href="product.html">
                        <h2>Nike Slim Shirts</h2>
                    </a>
                    <div class="rating">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                    <div class="price">
                        $120
                    </div>
                </div>
            </div>
        </div>
        <footer class="row center">
          Copy Right Amazona
        </footer>
    </div>
</body>
</html>